@model AllExercisesVM

@section Scripts {
    <script>
        var paginatorUrl = '/Admin/AllExercises';
    </script>
    <script src="~/js/allExercises.js"></script>
    <script src="~/js/paginator.js"></script>
}

<div class="all-exercises">
    <form class="delete-form" asp-controller="Admin" asp-action="DeleteExercise" method="post">
        <input type="hidden" id="exerciseId" name="exerciseId" />
        <input type="hidden" name="page" value="@Model.PaginatorVM.Page" />
        <input type="hidden" name="pageSize" value="@Model.PaginatorVM.PageSize" />
        <input type="hidden" name="sortColumn" value="@Model.PaginatorVM.SortColumn"/>
        <input type="hidden" name="sortDirection" value="@Model.PaginatorVM.SortDirection"/>
        <button type="submit"></button>
    </form>
    <partial name="../Shared/_paginator.cshtml" model="Model.PaginatorVM" />
    <form asp-controller="Admin" asp-action="AllExercises" method="post">
        <table>
            <tr>
                <th>
                    <a class="flex-space-between" asp-action="AllExercises" asp-controller="Admin"
                       asp-route-page="@Model.PaginatorVM.Page"
                       asp-route-pageSize="@Model.PaginatorVM.PageSize"
                       asp-route-sortColumn="@SortColumn.LessonId"
                       asp-route-sortDirection="@(Model.PaginatorVM.SortDirection == SortDirection.ASC
                                ? SortDirection.DESC
                                : SortDirection.ASC)">
                        Урок
                        <span class="flex">
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.LessonId && Model.PaginatorVM.SortDirection == SortDirection.DESC) { <text> class="black" </text> }>
                                &#8593;
                            </span>
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.LessonId && Model.PaginatorVM.SortDirection == SortDirection.ASC) { <text> class="black" </text> }>
                                &#8595;
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="flex-space-between" asp-action="AllExercises" asp-controller="Admin"
                       asp-route-page="@Model.PaginatorVM.Page"
                       asp-route-pageSize="@Model.PaginatorVM.PageSize"
                       asp-route-sortColumn="@SortColumn.RusPhrase"
                       asp-route-sortDirection="@(Model.PaginatorVM.SortDirection == SortDirection.ASC
                                ? SortDirection.DESC
                                : SortDirection.ASC)">
                        На русском
                        <span class="flex">
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.RusPhrase && Model.PaginatorVM.SortDirection == SortDirection.DESC) { <text> class="black" </text> }>
                                &#8593;
                            </span>
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.RusPhrase && Model.PaginatorVM.SortDirection == SortDirection.ASC) { <text> class="black" </text> }>
                                &#8595;
                            </span>
                        </span>
                    </a>
                </th>
                <th>
                    <a class="flex-space-between" asp-action="AllExercises" asp-controller="Admin"
                       asp-route-page="@Model.PaginatorVM.Page"
                       asp-route-pageSize="@Model.PaginatorVM.PageSize"
                       asp-route-sortColumn="@SortColumn.EngPhrase"
                       asp-route-sortDirection="@(Model.PaginatorVM.SortDirection == SortDirection.ASC
                                ? SortDirection.DESC
                                : SortDirection.ASC)">
                        На английском
                        <span class="flex">
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.EngPhrase && Model.PaginatorVM.SortDirection == SortDirection.DESC) { <text> class="black" </text> }>
                                &#8593;
                            </span>
                            <span @if (Model.PaginatorVM.SortColumn == SortColumn.EngPhrase && Model.PaginatorVM.SortDirection == SortDirection.ASC) { <text> class="black" </text> }>
                                &#8595;
                            </span>
                        </span>
                    </a>
                </th>
                <th>Нераспознанные</th>
                <th class="edit-header">
                    <button class="edit-header__confirm-btn" type="submit">
                        Подтвердить
                    </button>
                    <p class="edit-header__text">
                        Редактировать
                    </p>
                </th>
            </tr>
            @for (int i = 0; i < Model.Exercises.Count; i++)
            {
                <tr class="exercise-info">
                    <td>
                        <input asp-for="Exercises[i].LessonId" value="@Model.Exercises[i].LessonId" />
                        <input type="hidden" asp-for="Exercises[i].ExerciseId" value="@Model.Exercises[i].ExerciseId" />
                    </td>
                    <td>
                        <input asp-for="Exercises[i].RusPhrase" value="@Model.Exercises[i].RusPhrase" />
                    </td>
                    <td>
                        <input asp-for="Exercises[i].EngPhrase" value="@Model.Exercises[i].EngPhrase" />
                    </td>
                    <td>
                        @if (Model.Exercises[i].UnrecognizedWords.Any())
                        {
                            <span class="unrecognized-words-unfold">
                                <..слова..>
                            </span>
                        }
                        <div class="unrecognized-words-collapsible">
                            @for (int j = 0; j < Model.Exercises[i].UnrecognizedWords.Count; j++)
                            {
                                <span class="unrecognized-words-collapsible__word">
                                    <input asp-for="Exercises[i].UnrecognizedWords[j].Text" value="@Model.Exercises[i].UnrecognizedWords[j].Text" />
                                    <span class="word-type">@Model.Exercises[i].UnrecognizedWords[j].Type</span>
                                    <input type="hidden" asp-for="Exercises[i].UnrecognizedWords[j].UnrecognizedWordId" />
                                    <input type="hidden" asp-for="Exercises[i].UnrecognizedWords[j].Type" />
                                    <input type="hidden" asp-for="Exercises[i].UnrecognizedWords[j].StressOnTheFinalSyllableInRegularVerb" />
                                </span>
                            }
                        </div>
                    </td>
                    <td>
                        <button class="delete-btn" type="button" data-exercise-id="@Model.Exercises[i].ExerciseId">
                            удалить
                        </button>
                    </td>
                </tr>
            }
        </table>
    </form>
    <partial name="../Shared/_paginator.cshtml" model="Model.PaginatorVM" />
</div>