<div class="hint-table2 flex-center">
    @{
        var randomIrregularVerb = MyPolyglotCore.RandomWordHelper.GetRandomIrregularVerb();
    }
    <table>
        <tr class="border-bottom">
            <td colspan="3" class="border-right">Вопрос</td>
            <td colspan="2" class="border-right">Утверждение</td>
            <td colspan="2" class="border-right">Отрицание</td>
        </tr>
        <tr>
            <td rowspan="6">
                Will
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">@randomIrregularVerb.Text</td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                will @randomIrregularVerb.Text
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                will not @randomIrregularVerb.Text
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Будущее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="4">
                Do
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">@randomIrregularVerb.Text</td>
            <td>I</td>
            <td rowspan="4" class="border-right">@randomIrregularVerb.Text</td>
            <td>I</td>
            <td rowspan="4" class="border-right">
                don't @randomIrregularVerb.Text
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Настоящее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td rowspan="2">
                Does
            </td>
            <td>he</td>
            <td>he</td>
            <td rowspan="2" class="border-right">@randomIrregularVerb.ThirdPersonForm</td>
            <td>he</td>
            <td rowspan="2" class="border-right">
                doesn't @randomIrregularVerb.Text
            </td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
        <tr>
            <td rowspan="6">
                Did
            </td>
            <td>I</td>
            <td rowspan="6" class="border-right">@randomIrregularVerb.Text</td>
            <td>I</td>
            <td rowspan="6" class="border-right">@randomIrregularVerb.PastForm</td>
            <td>I</td>
            <td rowspan="6" class="border-right">
                did not @randomIrregularVerb.Text
            </td>
            <td rowspan="6" class="vertical-upright font-size17px">Прошедшее</td>
        </tr>
        <tr>
            <td>you</td>
            <td>you</td>
            <td>you</td>
        </tr>
        <tr>
            <td>we</td>
            <td>we</td>
            <td>we</td>
        </tr>
        <tr>
            <td>they</td>
            <td>they</td>
            <td>they</td>
        </tr>
        <tr>
            <td>he</td>
            <td>he</td>
            <td>he</td>
        </tr>
        <tr class="border-bottom">
            <td>she</td>
            <td>she</td>
            <td>she</td>
        </tr>
    </table>
</div>
