@model HintTable2VM

<div class="hint-table2">
    <div class="flex-center">
        <table>
            <tr>
                <td>Вопрос</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Утверждение</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Отрицание</td>
            </tr>
        </table>
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Will
                </td>
                <td>I</td>
                <td rowspan="6">@Model.PresentForm</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will @Model.PresentForm
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    will not @Model.PresentForm
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td rowspan="6">Будет</td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="4">
                    Do
                </td>
                <td>I</td>
                <td rowspan="6">@Model.PresentForm</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td rowspan="2">
                    Does
                </td>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">@Model.PresentForm</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">@Model.ThirdPersonForm</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="4">
                    don't @Model.PresentForm
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
                <td rowspan="2">
                    doesn't @Model.PresentForm
                </td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td rowspan="6">Есть</td>
            </tr>
        </table>
    </div>
    <div class="flex-center">
        <table>
            <tr>
                <td rowspan="6">
                    Did
                </td>
                <td>I</td>
                <td rowspan="6">@Model.PresentForm</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">@Model.PastForm</td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>I</td>
                <td rowspan="6">
                    did not @Model.PresentForm
                </td>
            </tr>
            <tr>
                <td>you</td>
            </tr>
            <tr>
                <td>we</td>
            </tr>
            <tr>
                <td>they</td>
            </tr>
            <tr>
                <td>he</td>
            </tr>
            <tr>
                <td>she</td>
            </tr>
        </table>
        <table>
            <tr>
                <td rowspan="6">Было</td>
            </tr>
        </table>
    </div>
</div>
