
@model DoExerciseVM

@section Scripts {
    <script>
        let optionsGroupsData = JSON.parse('@Json.Serialize(@Model.OptionGroups)');
    </script>
    <script src="~/js/doExercise.js"></script>
}

<div class="do-exercise">
    <form asp-controller="Home" asp-action="DoExercise" method="post">
        <input asp-for="LessonId" type="hidden" />
        <input asp-for="ExerciseId" type="hidden" />
        @for (int i = 0; i < Model.OptionGroups.Count; i++)
        {
            @for (int j = 0; j < Model.OptionGroups[i].Options.Count(); j++)
            {
                <input asp-for="OptionGroups[i].Options[j]" type="hidden" />
            }
        }
        <input asp-for="RusPhrase" type="hidden" />
        <input asp-for="UserAnswer" type="hidden" />
        <input asp-for="UserPoints" type="hidden" value="@(Model.UserPoints - 0.5 > 0 ? Model.UserPoints - 0.5 : 0)" />
        @if (Model.LessonId == 2)
        {
            <input asp-for="HintTable2VM.PresentForm" type="hidden" />
            <input asp-for="HintTable2VM.PastForm" type="hidden" />
            <input asp-for="HintTable2VM.ThirdPersonForm" type="hidden" />
        }
        <button type="submit"></button>
    </form>
    <span class="do-exercise__lesson-help">
        @if (Model.LessonId == 1)
        {
            <span class="lesson-hint lesson-hint1 tooltip">
                i
                <span class="tooltiptext">
                    <partial name="../Shared/HintTables/_hintTable1.cshtml" />
                </span>
            </span>
        }
        else if (Model.LessonId == 2)
        {
            <span class="lesson-hint lesson-hint2 tooltip">
                i
                <span class="tooltiptext">
                    <partial name="../Shared/HintTables/_hintTable2.cshtml" model="Model.HintTable2VM" />
                </span>
            </span>
        }
        else if (Model.LessonId == 3)
        {
            <span class="lesson-hint lesson-hint3 tooltip">
                i
                <span class="tooltiptext">
                    <partial name="../Shared/HintTables/_hintTable3.cshtml" />
                </span>
            </span>
        }
        else if (Model.LessonId == 4)
        {
            <span class="lesson-hint lesson-hint4 tooltip">
                i
                <span class="tooltiptext">
                    <partial name="../Shared/HintTables/_hintTable4.cshtml" />
                </span>
            </span>
        }
        <a class="tooltip" href="@Url.Action("LessonInfo", "Home", new { lessonId = Model.LessonId })">
            <span class="lesson-info-link">
                ?
                <span class="tooltiptext">
                    Информация по уроку.
                </span>
            </span>
        </a>
    </span>
    @if (User.Identity.IsAuthenticated)
    {
        <span class="do-exercise__user-score tooltip">
            SCORE: @Model.UserPoints
            <span class="tooltiptext tooltiptext-score">
                Твои очки. Заработай 100 чтобы перейти к следующему уроку.
            </span>
        </span>
    }
    <div class="do-exercise__lesson-number previous-options-js">
        Урок @Model.LessonId
        <span>
            @if (TempData["Success"] != null)
            {
                <span class="alert-success">@TempData["Success"]</span>
            }
            @if (TempData["Feilure"] != null)
            {
                <span class="alert-feilure">@TempData["Feilure"]</span>
            }
            <span>
                <span asp-validation-for="ExerciseId"></span>
                <span asp-validation-for="LessonId"></span>
                <span asp-validation-for="RusPhrase"></span>
                <span asp-validation-for="OptionGroups"></span>
                @for (int i = 0; i < Model.OptionGroups.Count; i++)
                {
                    <span asp-validation-for="OptionGroups[i].Options"></span>
                }
                <span asp-validation-for="UserAnswer"></span>
            </span>
        </span>
    </div>
    <div class="do-exercise__rus-phrase previous-options-js">
        @Model.RusPhrase
    </div>
    <div class="do-exercise__eng-phrase previous-options-js">
        Переведите предложение
    </div>
    <div class="do-exercise__answer-options">
        @for (int i = 0; i < 2; i++)
        {
            <div class="option-group" index="@i">
                @foreach (var option in Model.OptionGroups.ElementAt(i).Options)
                {
                    <div>
                        @option
                    </div>
                }
            </div>
        }
    </div>
</div>
