@model ExerciseVM

@section Scripts {
    <script>
        let optionsGroupsData = JSON.parse('@Json.Serialize(@Model.OptionGroups)');
    </script>
    <script src="~/js/lesson.js"></script>
}

<div class="lesson">
    <div>
        Урок @Model.Id
    </div>
    <div>
        @Model.RusPhrase
    </div>
    <div>
        <form action="/Home/Lesson" method="post">
            <div class="answer">
                Переведите предложение
            </div>
            <div class="answer-input">
                <input type="text" name="UserAnswer" value="" />
            </div>
        </form>
    </div>
    <div class="buttons">
        @for (int i = 0; i < 2; i++)
        {
            <div class="option-group" data-index="@i">
                @foreach (var option in Model.OptionGroups.ElementAt(i).Options)
                {
                    <div class="button">
                        @option
                    </div>
                }
            </div>
        }
    </div>
    <div class="options-back button">
        ^
    </div>
</div>