<html>

<head>
    <title>Polyglot</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>

<body>
    <header>
        <ul>
            <li>
            <a href="@Url.Action("Index", "Home")">

            </a>
            </li>
            <li>

            </li>
        </ul>
    </header>
    <footer>

    </footer>
    <div class="container">
        <div class="home-row">
            <a href="@Url.Action("Index", "Home")">
                <div class="button">
                    Polyglot
                </div>
            </a>
            <a href="@Url.Action("AddExercise", "Admin")">
                <div class="button">
                    Добавить упражнения
                </div>
            </a>
        </div>
        @RenderBody()
    </div>
</body>

</html>