<html>

<head>
    <title>Полиглот</title>
    <link rel="icon" href="~/icons/logo.svg">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</head>

<body>
    <header>
        <div class="navbar">
            <a class="navbar__brand" href="@Url.Action("Index", "Home")">
                <span class="icon-logo"></span>
                <span>Полиглот</span>
            </a>
            <div class="navbar__auth">
                <a href="@Url.Action("Login", "User")">
                    <span>Войти</span>
                </a>
                <a href="@Url.Action("Register", "User")">
                    <span>Регистрация</span>
                </a>
                <a href="@Url.Action("AddExercise", "Admin")">
                    <span>Добавить упражнениe</span>
                </a>
            </div>
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
</body>

</html>